html {
  color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-size: 15px;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

header {
  background-color: hotpink;
  color: #f1f1f1;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  text-align: center;
}

footer {
  background-color: hotpink;
  color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

main {
  background: rgb(255, 211, 238);
  padding: 110px 0 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding: 15px;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.grid-item {
  padding: 15px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.grid-item p {
  margin: 10px 0;
}

/* .grid-container .btns {
  padding: 1em 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.grid-container .btns button {
  width: 100%;
}

form {
  margin: 2em auto 0;
  background-color: rgb(255, 211, 238);
  padding: 1em 1em 2em;
  text-align: center;
}

button {
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 0;
  color: #f2f2f2;
  background-color: hotpink;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  width: 100%;
  max-width: 380px;
}

input {
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 1em;
  border: 2px solid hotpink;
  display: block;
  background: #f1f1f1;
}

dialog {
  border-color: hotpink;
  background-color: rgb(255, 211, 238);
  width: 65vw;
  padding: 2em 1em;
}

dialog::backdrop {
  background: rgb(255, 211, 238);
}

.dialog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */
